In [1]:
import datetime
import json
import requests
import datetime
from datetime import date, timedelta
import pandas as pd

In [8]:
class Employee:
    """
    The Employee Object has the following attributes and methods:
    
    Attributes
    ----------
    first : str
        first name of the Employee
    last : str
        last name of the Employee
    pay : int
        salary of the Employee
        default: 60K

    Methods
    -------
    fullname():
        Returns the full name of the Employee
    email():
        Returns the email of the Employee
    from_api():
        Returns Employee object from API
    set_raise_amt():
        Increases the salary of all Employees
    apply_raise():
        Increases the salary of one Employee
    is_workday():
        Returns True if it is a working day
    """
    
    num_of_emps = 0
    raise_amt = 1.04
    def __init__(self, first, last, pay=60000):
        """
        Instantiates attributes for the Employee object.
        Parameters
        ----------
        first : str
            first name of the Employee
        last : str
            last name of the Employee
        pay : int
            salary of the Employee
        """        
        
        self.first = first
        self.last = last
        self.pay = pay
        Employee.num_of_emps += 1
       
    @property
    def fullname(self):
        """
        Returns the Employee's full name
        """

        return '{} {}'.format(self.first, self.last)    
    
    @property
    def email(self):
        """
        Returns the Employee's email
        """
        
        return '{}.{}@email.com'.format(self.first, self.last)
    
    
    @fullname.setter
    def fullname(self, name):
        """
        Adds setter functionality to instane method fullname
        Parameters:
        ====
        name: str
            name of the Employee
        """
        
        first, last = name.split(' ')
        self.first = first
        self.last = last
    
    @fullname.deleter
    def fullname(self):
        """
        Adds deleter functionality to instane method fullname
        """        
        
        print('Delete Name!')
        self.first = None
        self.last = None              
 

    def apply_raise(self):
        """
        updates raise amount for specific Employee
        """
        
        self.pay = int(self.pay * self.raise_amt)
        
        
    @classmethod    
    def from_api(cls):
        """
        Retreives Employee profile from API
        Creates Employee Object 
        """
        
        url = "https://randomuser.me/api/"
        response = requests.get(url)
        response = response.text
        parsed_response = json.loads(response)
        data = parsed_response["results"][0]
        name=data['name']
        first = name['first']
        last = name['last']
        pay = 60000 # default base salary
        return cls(first, last, pay)
        
    @classmethod
    def set_raise_amt(cls, amount):
        """
        Updates raise amount for all Employees
        """
        
        cls.raise_amt = amount

    @staticmethod
    def is_workday(day):
        """
        Returns True if day of the week is working day
        Returns False if day of the week is not working day
        """
        
        if day.weekday() == 5 or day.weekday() == 6:
            return False
        return True
    
    def __repr__(self):
        return "Employee('{}', '{}', {})".format(self.first, self.last, self.pay)
    
    def __str__(self):
        return '{} - {}'.format(self.fullname(), self.email)

    def __add__(self, other):
        return self.pay + other.pay

    def __len__(self):
        return len(self.fullname())

In [ ]:
object = Employee.from_api()
object

In [4]:
class Developer(Employee):
    """
    The Developer object has the following attributes and methods:
    Attributes
    ======
    Inherites from Employee: first, last, pay
    prog_lang: str
        programming language of Developer object

    """
    
    raise_amt = 1.10
    def __init__(self, first, last, pay, prog_lang):
        """
        creates attributes by accessing the Parent's constructor
        creates prog_lang attribute 
        """
        
        super().__init__(first, last, pay)
        self.prog_lang = prog_lang

In [ ]:
class Manager(Employee):
    """
    The Manager object has the following attributes and methods:
    Attributes
    ======
    Inherited from Employee: first, last, pay
    employees: list
        employees supervised by Manager
    """
    
    def __init__(self, first, last, pay, employees=None):
        """
        creates attributes by accessing the Parent's constructor
        creates employee list attribute with default value logic
        """
        
        super().__init__(first, last, pay)

        if employees is None:
            self.employees = []
        else:
            self.employees = employees
            
    def add_emp(self, emp):
        """
        adds Employee objects to the employees list 
        """
        
        if emp not in self.employees:
            self.employees.append(emp)

    def remove_emp(self, emp):
        """
        Removes employee from manager's list
        """
        
        if emp in self.employees:
            self.employees.remove(emp)

    def print_emps(self):
        """
        Prints the full name of each employee in the manager's list 
        """
        
        for emp in self.employees:
            print('-->', emp.fullname())

In [6]:
class Accounts:
    """
    The Accounts Object has the following attributes and methods:
    
    Attributes
    ======
    employees: list of employees to store in a Pandas Dataframe     
    """
    
    def __init__(self):
        """
        Instantiates list of employees
        """
        
        self.employees = []

    def create_employee(self):
        """
        adds a single employee to the list attribute 
        """
        
        self.employees.append(Employee.from_api())

    def create_multiple_employees(self, n_users):
        """
        adds multiple Employees to the list attribute
        """
        
        for _ in range(n_users):
            self.create_employee()

    def employees_to_pandas(self):
        """
        Returns a DataFrame of the objects found in the employees list
        """
        
        df = pd.DataFrame()
        for _ in range(len(self.employees)):
            df = pd.DataFrame([t.__dict__ for t in self.employees])
        return df

In [7]:
object_ = Accounts()
object_.create_multiple_employees(20)
object_.employees_to_pandas()

         first          last    pay
0       Oliver      Mitchell  60000
1     Natascha     Guillaume  60000
2    Hemitério       Freitas  60000
3         Lise         Louis  60000
4   Jörg-Peter       Germann  60000
5        Linda      Gonzalez  60000
6         Otto       Sippola  60000
7     Maddison         Singh  60000
8         Juho       Kantola  60000
9         Vega        Skrede  60000
10    Tillmann        Mahler  60000
11    Wilfried       Benecke  60000
12   Hannelore       Vincent  60000
13      Serano  Hoogenboezem  60000
14       Izete        Farias  60000
15    Isabelle       Collins  60000
16       Larry         Owens  60000
17        Carl        Møller  60000
18       Harry         Miles  60000
19    اميرمحمد        سالاری  60000